@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";

$navbar-height: 4rem;
$primary: #49A1B2;
$success: #35B25B;
$warning: #FFDF45;
$info: #007FB2;
$danger: #CA1D1B;
@import "../../../node_modules/bulma/bulma.sass";

@import "../../../node_modules/bulma-extensions/dist/css/bulma-extensions.min.css";

@import url('https://fonts.googleapis.com/css?family=Muli|Convergence');

.navbar-menu{
  font-family: 'Convergence', sans-serif;
  //font-size: 1em;
}
.navbar-item{
  margin-right: 1em;
}
.navbar {
  box-shadow: 0 5px 30px rgba(33,33,33,.1);
}

body, span, p{
  font-family: 'Muli', sans-serif;
}

.notification {
  transition: box-shadow .3s;
  border-radius:10px;
}
.notification:hover {
  box-shadow: 0 10px 30px rgba(33,33,33,.23);
}

.profile {
  width: 6em;
  border-radius: 50%;
}
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
